/* GENERAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.container {
    width: 1100px;
    margin: auto;
    margin-top: 20px;   
}
 
/*first container */ 


 header .brand {
    width: 164px;
 }


/*second container*/

.container.second {
    height: 450px;
    margin-bottom: 20px;
}

nav {
    padding-bottom: 20px;
}


.main-menu li {
   display: inline-block;
   margin-right: 15px;
}

.main-menu li:last-child {
    color: rgb(139, 48, 101);
    margin-right: 10px;
}

.main-menu li a {
    text-decoration: none;
    
}

.banner {
    width: 1100px;
    height: 450px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
}

.layover {
    width: 1100px;
    height: 450px;
    background-color: rgba(0,0,0,0.9);
}

/*third container + columns */

.container.third {
    height: 320px;
    margin: 0 auto;
    background-color: #1E90FF;
}

.first-section {
   width: 1100px;
   height: 80px;
   margin-bottom: 10px;
   background-color: #6495ED;
}


/*Columns */

.columns {
    height: 220px;
    margin-bottom: 10px;
   }

.column {
    height: 100%;
    float: left;
    background-color: #6495ED;
}

.column.one, .column.three {
   width: 25%;
}

.column.two {
    width: 48%;
    margin: 0 1%;
}

/* footer */

.last-part {
    width: 1100px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    background-color: #9400D3;
}